.vscode/**
.vscode-test/**
client/out/test/**
client/out/*.map
client/src/**

.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/package.json
**/package-lock.json
**/.pytest_cache